#main-header{
	background-color:rgba(0, 0, 0,1);
	position: center;
	width:100%;
	color:white;
}
#home{
	max-height: 560px;
	position: center;
	width: 100%;
	padding: 60px 0;
	color:  #F0FFFF ;
	margin-bottom: 10px;
}
img {

    width: 1200px;
    position: center;
 }


body {
    background-image: url('image/13.png');
}
